{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type ="text/css" href="{% static 'Character_Builder/main.css' %}">

    {% if title %}
      <title>Character Builder - {{ title}}</title>
    {% else %}
      <title>Character Builder</title>
    {% endif %}
  </head>
  <body>

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-black fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">DnD Manager</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <!-- <a class="nav-item nav-link" href="{% url 'character_builder-home'%}">Character Builder</a> -->

              <div class="dropdown show">
                <a class="nav-item nav-link dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown" aria-pressed="true" aria-haspopup="true" aria-expanded="false">
                  Characters
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'character-list'%}">Character List</a>
                  <a class="dropdown-item" href="{% url 'character-create'%}">Character Builder</a>
                </div>
              </div>

              <div class="dropdown show">
                <a class="nav-item nav-link dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown" aria-pressed="true" aria-haspopup="true" aria-expanded="false">
                  Campaigns
                </a>
                {% if user.is_authenticated %}
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'campaign-list'%}">Campaign List</a>
                    <a class="dropdown-item" href="{% url 'campaign_builder-home' %}">Campaign Builder</a>
                  </div>
                {% else %}
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'login'%}">Campaign List</a>
                    <a class="dropdown-item" href="{% url 'login' %}">Campaign Builder</a>
                  </div>
                {% endif %}
              </div>

              <div class="dropdown show">
                <a class="nav-item nav-link dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown" aria-pressed="true" aria-haspopup="true" aria-expanded="false">
                  Inventory
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'item-list'%}">Inventory</a>
                  <a class="dropdown-item" href="{% url 'item-create' %}">Add an Item</a>
                </div>
              </div>
              
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
              <a class="nav-item nav-link" href="{% url 'friends' %}">Friends List</a>
              <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>
              {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Log In</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    {% block main %} {%endblock main%}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
