{% extends "Character_Builder/Character_base.html" %}

{% block content %}
    <h1>Characters List!</h1>

    {% for character in characters %}

			<!-- Should probably break if the character is not part of the user's characters -->
			{% if character.user == user %}
				<div>
					<h2><a href="{% url 'character-detail' character.characterID %}">{{ character.characterName }}</a></h2>
				
					<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'character-edit' character.characterID %}">Update</a>
					<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'character-delete' character.characterID %}">Delete</a>
					
				</div>
				<p>
					Created by: {{ character.user }}<br>
					Character ID: {{ character.characterID }}<br>
					Level: {{ character.level }}<br>
					XP: {{ character.xp }}<br>
					Max HP: {{ character.maxHP }}<br>
					Alignment: {{ character.alignment }}<br>
					Size: {{ character.size }}

				</p>

			{% endif %}

    {% endfor %}
	</form>

{% endblock content %}
