{% extends "Character_Builder/Character_base.html" %}

{% block content %}
    <h1>Character Builder!</h1>

    {% for character in characters %}

			<!-- Should probably break if the character is not part of the user's characters -->

			<div>
				<h2><a href="{% url 'character-detail' character.characterID %}">{{ character.characterName }}</a></h2>
			
				<!-- <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'character-edit' character.characterID %}">Update</a>
				<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'character-delete' character.characterID %}">Delete</a> -->
				
			</div>
			<p>
				Character ID: {{ character.characterID }}<br>
				Level: {{ character.level }}<br>
				XP: {{ character.xp }}<br>
				Max HP: {{ character.maxHP }}<br>
				Alignment: {{ character.alignment }}<br>
				Size: {{ character.size }}

				
			</p>

			<!-- TODO: Add a button to edit this character -->
			
				
			{% if character.user == user %}
				<div>
					<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'character-edit' character.characterID %}">Update</a>
					<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'character-delete' character.characterID %}">Delete</a>
				</div>
			{% endif %}

    {% endfor %}
	</form>

{% endblock content %}
