{% extends "Character_Builder/Character_base.html" %}
{% block content %}
    <h1>Character Builder!</h1>

    {% for character in characters %}

			<h2><a href="{% url 'character_detail' character.id %}">{{ character.characterName }}</a></h2>
			<p>
				Character ID: {{ character.characterID }}<br>
				Level: {{ character.level }}<br>
				XP: {{ character.xp }}<br>
				Max HP: {{ character.maxHP }}<br>
				Alignment: {{ character.alignment }}<br>
				Size: {{ character.size }}
			</p>

    {% endfor %}

    <form method="post" class="post-form">
    	{% csrf_token %}
			<table>{{ form.as_table }}</table>
		<input type="submit" value="Submit" class="btn btn-dark">
	</form>

{% endblock content %}
