{% extends "Character_Builder/Character_base.html" %}

{% block content %}
    <h1>Race List</h1>

    {% for race in races %}
      <div class="content-section">   
        <div>
          <h2>{{ race.raceName }}</h2>
        </div>
        <p>
          Strength Bonus: {{ race.strengthBonus }}<br>
          Dexterity Bonus: {{ race.dexterityBonus }}<br>
          Constitution Bonus: {{ race.constitutionBonus }}<br>
          Intelligence Bonus: {{ race.intelligenceBonus }}<br>
          Wisdom Bonus: {{ race.wisdomBonus }}<br>
          Charisma bonus: {{ race.charismaBonus }}<br>
        </p>

      </div>
      
			
		{% endfor %}
	</form>

{% endblock content %}
