{% extends "Character_Builder/base.html" %}
{% block main %}

<main role="main" class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="content-section">
				<div class="media">
					<img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
					<div class="media-body">
						<h2 class="account-heading">{{ user.username }}</h2>
						<p class="text-secondary">{{ user.email }}</p>
					</div>
				</div>
			</div>

<!--
			<div class="content-section">
				<div class="media">
					<div class="media-body">
						<h2 class="account-heading">Current Campaigns</h2>

						{% for Campaign in campaigns %}
							<div class="media">
								<div class="media-body">
									<h2>{{ Campaign.campaignName }}</h2>
									<h3>Campaign ID: {{ Campaign.campaignID }}</h3>
								</div>
							</div>
						{% endfor %}

					</div>
				</div>
			</div>
-->

			<div class="content-section">
				<h1>Current Campaigns</h1>
				<ul class="list-unstyled">

					{% for Campaign in campaigns %}
						<li class="media">
							<div class="media-body">
								<h2>{{ Campaign.campaignName }}</h2>
								<h3>Campaign ID: {{ Campaign.campaignID }}</h3>
							</div>
						</li>
					{% endfor %}

				</ul>
			</div>

			<div class="content-section">
				<h1>Characters</h1>
				<ul class="list-unstyled">

					{% for Character in characters %}

							<li class="media borderlist">
								<div class="media-body">
									<h4 class="media-heading">{{ Character.characterName }}  Level {{ Character.level }} HP: {{ Character.hp }}</h4>
									Race: {{ Character.raceID }}
									Class: {{ Character.classID }}
									Alignment: {{ Character.alignment }}
									XP: {{ Character.xp }}
								</div>
							</li>

					{% endfor %}

				</ul>
			</div>


<!--
		<div class="content-section">
				<div class="media">
					<div class="media-body">
						<h2 class="account-heading">Characters</h2>

						{% for Character in characters %}

						<h2>{{ Character.characterName }}  Level {{ Character.level }} HP: {{ Character.hp }}</h2>
						<h3>Race: {{ Character.raceID }}</h3>
						<h3>Class: {{ Character.classID }}</h3>
						<h3>Alignment: {{ Character.alignment }}</h3>
						<h3>XP: {{ Character.xp }}</h3>


				    {% endfor %}

					</div>
				</div>
			</div>
-->

			<div class="content-section">
				<div class="media">
					<div class="media-body">
						<h2 class="account-heading">Friends List</h2>
						<p class="text-secondary"></p>
					</div>
				</div>
			</div>


		</div>
	</div>
</main>



{% endblock main %}
