{% extends "Users/account_base.html" %}
{% block content %}

<main role="main" class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="content-section">
				<h1>Current Campaigns</h1>
				<ul class="list-unstyled">

					{% for Campaign in campaigns %}
						<li class="media">
							<div class="media-body">
								<h2>{{ Campaign.campaignName }}</h2>
								Campaign ID: {{ Campaign.campaignID }}
							</div>
						</li>
					{% endfor %}

				</ul>
			</div>

			<div class="content-section">
				<h1>Characters</h1>
				<ul class="list-unstyled">

					{% for Character in characters %}
							{% if Character.user == user %}
									<li class="media ">
										<div class="media-body">
											<h4 class="media-heading">{{ Character.characterName }}  Level {{ Character.level }} HP: {{ Character.hp }}</h4>
											Race: {{ Character.raceID }}
											Class: {{ Character.classID }}
											Alignment: {{ Character.alignment }}
											XP: {{ Character.xp }}
										</div>
									</li>
							{% endif %}

					{% endfor %}

				</ul>
			</div>




		</div>
	</div>
</main>



{% endblock content %}
