{% extends "Campaign_Manager/campaign_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Current Campaigns</h1>

    {% for campaign in campaigns %}
	<br>
	<article class="media content-section">
		<div class="media-body">
		<h3>
			<a href="{% url 'overview_with_pk' pk=campaign.pk %}">
				{{ campaign.campaignName }}
			</a>
		</h3>
		</div>
	</article>
	{% endfor %}

  <a class="btn btn-dark btn-lg btn-block" href="{% url 'campaign_builder-home' %}" role="button">Add Campaign</a>
  
{% endblock content %}
